/* Custom Scrollbar for History */
#display-history::-webkit-scrollbar {
    width: 4px;
}

#display-history::-webkit-scrollbar-track {
    background: transparent;
}

#display-history::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    /* gray-400 */
    border-radius: 20px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-out forwards;
}